<ion-view title="About" id="about" style="background-color:#4DB3D3;">
  <ion-content padding="true" class="has-header">
    <div id="about-markdown6" class="show-list-numbers-and-dots">
      <p>Thank you for using Track Your Rack! If you want to add a new polish to your rack, or wish list, simply go to the "Home" page, and click on 'Add Polish'. On that page, just fill out the required fields, and any other fields you have the information for. Additionally, as more polishes are added to the database, you will be able to just search for and find a polish to add to your list.</p>
    </div>
  </ion-content>
</ion-view>