<ion-view title="About" id="about" class="page">
  <ion-content padding="true" class="has-header">
    <div id="about-markdown6" class="show-list-numbers-and-dots">
      <p>Thank you for using Track Your Rack! If you have any questions or feedback - no matter how small - <a href="mailto:admin@shellbacksoftware.com" target="_top">send me an email</a> and I'll get back to you as soon as I can! <br/><br/>
      Currently, the only things that work are adding a node to the database, adding/removing from your Rack and Wish List, viewing the full list of polishes, and editing polishes. <br/><br/>

      If you'd like to create a new polish (add one to the database), just click on that button on the homepage. Fill in the required fields (Brand is used to make sure it's not a duplicate, so be sure to add that in!), as well as any other fields you want to include. <br/><br/>

      If you'd like to edit a polish (i.e. add a swatch), simply find that polish in the database / your Rack / your Wish List, and click on it in the table. Then, click on "Edit Polish" at the bottom of the page that comes up, and fill in the updated information.<br/><br/>

      In the future, I'll be adding in chat, the ability to change your profile from here, viewing your friends list (people you follow), the ability to persist login information after closing the app, downloading the polishes to your phone (for offline use), and a barcode scanner (for those polishes that come with barcodes!). <br/><br/>

      If there's <strong>anything</strong> you come across, no matter how small or big, definitely let me know! This is very much a work in progress. If the background color is bad, let me know! If you can't read text, or the text should be a different color, let me know! If there's any features I didn't mention that you would like, definitely let me know!
      </p>
    </div>
  </ion-content>
</ion-view>