<ion-view title="About" id="about" class="page">
  <ion-content padding="true" class="has-header">
    <div id="about-markdown6" class="show-list-numbers-and-dots">
      <p>Thank you for using Track Your Rack! If you have any questions or feedback - no matter how small - <a href="mailto:admin@shellbacksoftware.com" target="_top">send me an email</a> and I'll get back to you as soon as I can! Additionally, you can use the <a href="https://www.shellbacksoftware.com/project/issues/tyr">issue tracker</a> to see what is being worked on, what's known, and to create new issues. Further, you can see the <a href="https://www.shellbacksoftware.com/tyr/log">change log</a> if you're curious about what's been fixed since the last release!<br/><br/>

      The "Home" tab is for the core uses of this app. You can view your rack, your Wish List, edit them, and share the link to them with your friends (even if they don't have an account!). That's also where you can add a new polish to the master list, or view the list of polishes that are currently in the list. <br/><br/>

      You can edit your profile over on the "Profile" tab. There, you can change your bio, website, name, or even add a profile picture if you haven't already.<br/><br/>

      The "Friends" tab is for people you're following. If you aren't following someone else already, never fear! Simply click on the "View Users" button at the top of the page, and you can search the current list of users, or just scroll through them for names you may recognize. <br/><br/>

      The "Chat" tab is exactly what you'd think it is. This'll paragraph will get fleshed out more once chat is implemented. Coming very soon!<br/><br/>

      In the future, I'll be adding in chat, the ability to persist login information after closing the app, downloading the polishes to your phone (for offline use), and a barcode scanner (for those polishes that come with barcodes!). <br/><br/>

      If there's <strong>anything</strong> you come across, no matter how small or big, definitely let me know! This is very much a work in progress. If the background color is bad, let me know! If you can't read text, or the text should be a different color, let me know! If there's any features I didn't mention that you would like, definitely let me know!
      </p>
    </div>
  </ion-content>
</ion-view>