<ion-view title="Add A Polish" id="addPolish" class="page">
  <ion-content padding="true" class="has-header">

  <div class="addPolishContainer">
    <p>An asterisk (*) means that the field is required.</p>
      <form>
        <label for="brandbox">Brand*
        	<input type="textarea" id="brandbox" class="inputBox"></label>
      	<label for="collectionbox">Collection
        	<input type="textarea" id="collectionbox" class="inputBox"></label>
        <label for="colorbox">Color*
          	<input type="textarea" ng-model="data.color" placeholder="e.g. ''" id="colorbox" class="inputBox"></label>
      	<label for="finishbox">Finish
        	<input type="textarea" ng-model="data.finish" id="finishbox" placeholder="e.g. 'creme'" class="inputBox"></label>
      	<label for="pnumbox">Polish Number
        	<input type="textarea" ng-model="data.polishNum" id="pnumbox" placeholder="e.g. 'AB123'" class="inputBox"></label>
      	<label for="seasonbox">Season Released
        	<input type="textarea" ng-model="data.season" id="seasonbox" placeholder="e.g. 'Summer'" class="inputBox"></label>
      	<label for="yearbox">Year Released
      	<input type="number" ng-model="data.year" id="yearbox" placeholder=" e.g. '2004'" class="inputBox"></label>
        <label for="indieBox"><input type="checkbox" ng-click="indieSite = !indieSite" name="indieBox">This is an indie brand</label>
        <div class="clearfix"></div>
        <label ng-show="indieSite">Brand Website<input type="textarea" placeholder="www.shellbacksoftware.com" class="inputBox"></label>
        </form>
    </div>

    <div class="clearfix"></div>
    <input type="checkbox" ng-controller="addPolishCtrl" id="addRack"> <label>Add to My Rack</label>
    <input type="checkbox" ng-controller="addPolishCtrl" id="addWish"> <label>Add to Wish List</label>
    <div class="clearfix"></div>

  <button class="button button-dark">Submit</button>
  </ion-content>
</ion-view>