<ion-view title="Add A Polish" id="addPolish" class="page">
  <ion-content padding="true" class="has-header">
<div class="addPolishContainer">
      <form name="form.editPolish" ng-submit="createPolish(data)">
        <label for="colorbox">Polish Name <strong>REQUIRED</strong>
            <input type="textarea" ng-model="data.pName" placeholder="e.g. 'Wish on a Starfish'" id="colorbox" class="inputBox"></label>

        <label for="brandbox">Brand <strong>REQUIRED</strong>
          <select class="dropdown" ng-model="data.selBrand" ng-disabled="newBrand">
            <option value="" ng-selected="newBrand">Choose Your Brand</option>
            <option ng-repeat="p in brandNames | orderBy:'toString()' "  value="{{p}}">{{p}}</option>
          </select>
         <div class="toggleCheck">
          <label for="brandBox"><input type="checkbox" ng-click="clearBrand()" name="brandBox">My brand isn't here</label><br/>
          <input type="textarea" placeholder=" e.g. 'China Glaze'" class="inputBox" ng-model="data.pBrand" ng-show="newBrand">
        </div>

        <label for="collectionbox">Collection
          <input type="textarea" id="collectionbox" class="inputBox" ng-model="data.pCollection"></label>
        <label for="finishbox">Finish
          <input type="textarea" ng-model="data.pFinish" id="finishbox" placeholder="e.g. 'creme'" class="inputBox"></label>
        <label for="pnumbox">Polish Number
          <input type="textarea" ng-model="data.pNumber" id="pnumbox" placeholder="e.g. 'AB123'" class="inputBox"></label>
        <label for="seasonbox">Season Released
          <input type="textarea" ng-model="data.pSeason" id="seasonbox" placeholder="e.g. 'Summer'" class="inputBox"></label>
        <label for="yearbox">Year Released
        <input type="textarea" ng-model="data.pYear" id="yearbox" placeholder=" e.g. '2004'" class="inputBox"></label>

        <div class="toggleCheck">
          <label for="indieBox"><input type="checkbox" ng-click="indieSite = !indieSite" name="indieBox">This is an indie brand</label><br/>
          <label ng-show="indieSite">Brand Website<input type="textarea" placeholder="www.shellbacksoftware.com" class="inputBox" ng-model="data.pWebsite"></label>
        </div>

        <div class="toggleCheck">
          <label for="swatchbox"><input type="checkbox" ng-click="newFile = !newFile">I'd like to upload a swatch</label><br/>
          <div ng-show="newFile" id="fileUpload">
            <label><input type="file" ng-model="data.pSwatch" name="swatchbox" base-sixty-four-input accept="image/*">
            <span>Choose a File</span></label>
            File Name (You can change it if you like!)<input type="textarea" ng-model="data.pSwatch.filename" class="inputBox">
          </div>
        </div>

        <div class="toggleCheck">
          <label for="rackCheck">
          <input type="checkbox" ng-model="data.addToRack" id="rackCheck"></input>
          I have this polish.</label>

          <label for="wishCheck">
          <input class="right_check" type="checkbox" ng-model="data.addToWishList" id="wishCheck"></input>
          I want this polish.</label>
        </div>
        <div class="clearfix"></div>
        <button type="submit" class="button button-dark">Submit</button>
        </form>
    </div>
  </ion-content>
</ion-view>