<ion-view title="Polish Database" id="browseDB" class="page">
  <ion-content padding="true" class="has-header">
    <div id="top">
      <input type="textarea" placeholder="Polish Name" class="searchBox" ng-model="dbquery"><button class="button search_button" ng-click="searchDB(dbquery)">Search All Polishes</button>
  </div>
  <div class="clearfix"></div>
<form name="form.database">
  Filter options:
    <select class="dropdown" ng-model="data.selectedBrand">
      <option value="">Brand</option>
      <option ng-repeat="b in bbrands | orderBy:'toString()'" value="{{b}}">{{b}}</option>
    </select>
    <!--<select class="dropdown" ng-model="data.selectedCollection">
      <option value="">Collection</option>
      <option ng-repeat="cln in bcollections | orderBy:'toString()' "  value="{{cln}}">{{cln}}</option>
    </select>-->
    <button class="button left_button" ng-click="filter_db(data)">Go</button>
    <button class="button right_button" ng-click="clear_filter()">Reset Selection</button>
    <button class="button all_button" ng-click="showAll()">Show All (May be slow)</button>
</form>
  <button ng-if="!emptyResults" ng-click="setEditMode()" class="button all_button" style="margin-top: 5px;">Bulk Edit Your Rack</button>

    <!-- Results from filtering -->
    <p class="noResult" ng-if="emptyResults"> No results. Check your selections!</p>
    <table class="resultsTable">
      <tr ng-if="!emptyResults" class="headRow">
        <th class="checkCell" ng-if="editMode">Rack</th>
        <th class="swatchCol">Swatch</th>
        <th>Name</th>
        <th>Brand</th>
      </tr>
      <tr ng-if="!emptyResults" ng-repeat="polish in cur_db_polishes track by $index " ng-click="goToPolish(polish)">
        <td class="checkCell" ng-if="editMode"><input type="checkbox" ng-model="checks[polish.nid]"/>&nbsp;</td>
        <td class="swatchCol"><img class="thumbnail" ng-src="{{polish.Swatch}}"/></td>
        <td>{{polish.title}}</td>
        <td>{{polish.Brand}}</td>
      </tr>
    </table>
    <button ng-if="editMode" class="button left_button" ng-click="bulkFlag()">Submit Bulk Change</button>
    <button ng-if="!emptyResults" class="button all_button" ng-click="scrollUp()">Return To Top</button>
  </ion-content>
</ion-view>