<ion-view title="Polish Database" id="browseDB" controller="browseCtrl" class="page" ng-init="initDB()">
  <ion-content padding="true" class="has-header">
    <div>
      <p><strong>TODO: Implement search</strong></p>
      <input type="textarea" placeholder="Brand, color, or collection" class="searchBox" ng-model="data.searchTerm"><button class="search_button" ng-click="searchDB(data)" disabled="true">Search</button>
  </div>
  <br/>
<form controller="loadCtrl">
  Filter options:
    <select class="dropdown" ng-model="data.selectedBrand">
      <option value="">Brand</option>
      <option ng-repeat="b in bbrands | orderBy:'toString()'" value="{{b}}">{{b}}</option>
    </select>
    <select class="dropdown" ng-model="data.selectedCollection">
      <option value="">Collection</option>
      <option ng-repeat="cln in bcollections | orderBy:'toString()' "  value="{{cln}}">{{cln}}</option>
    </select>
    <button class="left_button" ng-click="filter_db(data)">Go</button>
    <button class="right_button" ng-click="clear_filter(data)">Reset Selection</button>
    <button class="all_button" ng-click="showAll()">Show All (May be slow)</button>
</form>

    <p><strong>TODO: Reactive headings; click on each heading to sort</strong></p>

    <!-- Results from filtering -->
    <p class="noResult" ng-if="emptyResults"> No results. Check your selections!</p>
    <table>
      <tr ng-if="!emptyResults">
        <th>Swatch</th>
        <th>Name</th>
        <th>Brand</th>
        <th>Collection</th>
      </tr>
      <tr ng-if="!emptyResults" ng-repeat="polish in cur_db_polishes track by $index" ng-click="goToPolish(polish.node)">
        <td><img class="thumbnail" src="{{polish.node.Swatch.src}}"/></td>
        <td>{{polish.node.title}}</td>
        <td>{{polish.node.Brand}}</td>
        <td>{{polish.node.Collection}}</td>
      </tr>
    </table>
  </ion-content>
</ion-view>