<ion-view title="Chat" id="chat" class="page">
  <ion-content padding="true" class="has-header">
    <p style="text-align: center;">One of two things is happening:</p>
      <ul style="text-align: center;">
        <li> 1. Nobody wants to talk to you because you're a jerk.</li>
        <li > OR </li>
        <li> 2. Chat isn't implemented yet, or is broken for some unrelated reason.</li>
      </ul> <br/>
  <p> Not to fear, if it's the latter - I'm still working on implementing cool new features, so thank you for your patience!</p>
  </ion-content>
</ion-view>