<ion-view title="Home" id="home" class="page">
  <ion-content padding="true" class="has-header">
  <h2><p>Welcome, {{username}}!</p></h2>
    <button ui-sref="tabsController.myRack()" id="toMyRack" class="button button-block">My Rack</button>
    <button ui-sref="tabsController.wishList()" id="toWishList" class="button button-block">Wish List</button>
    <button ui-sref="tabsController.browseDB()" id="toBrowseDB" class="button button-block">Browse All Polishes</button>
    <button ui-sref="tabsController.addPolish()" id="addPolishButton" class="button button-block">Add Single Polish To Master List</button>
    <!--<button id="home-button4" class="button button-block" disabled="true">Barcode Scanner</button>-->
  </ion-content>
</ion-view>