<ion-view title="Login" id="login" hide-back-button="true" class="page">
    <ion-content padding="true" class="has-header has-footer" ng-init="reset_form()">
       <form name="form.login">
        <h2>Welcome to Track Your Rack!</h2>
                <p>Please log in to continue.</p>
            </div>
        <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="data.username" id="username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="data.password">
          </label>
      </div>
      <button class="button button-block button-dark" ng-click="login(data)">Login</button>
        <div style="margin-right:-20px;">
            <a ui-sref="signup" id="Login-button22" style="left:-10px;" class="button button-dark  button-full button-clear" disabled="true">Or create an account</a>
        </div>
      </form>
    </ion-content>
    <p class="version-number">Version 0.1</p>
</ion-view>