<ion-view title="My Rack" id="myrack" class="page">
  <ion-content padding="true" class="has-header">
    <p>Not sure what color to paint your nails? <button ng-click="spinWheel()" disabled="true">Try Your Luck!</button></p>
    <div>
      <input type="textarea" placeholder="Color" class="inputBox"><button disabled="true">Search</button>
  </div>

  <form name="form.myRack">
    <p>Filter options:</p>
    <select class="dropdown" ng-model="data.selectedBrand">
      <option value="">Brand</option>
      <option ng-repeat="b in mbrands | orderBy:'toString()'" value="{{b}}">{{b}}</option>
    </select>
    <select class="dropdown" ng-model="data.selectedCollection">
      <option value="">Collection</option>
      <option ng-repeat="cln in mcollections | orderBy:'toString()' "  value="{{cln}}">{{cln}}</option>
    </select>
    <button class="left_button" ng-click="filterRack(data)">Go</button>
    <button class="right_button" ng-click="reset_form()">Reset Selection</button>
    <button class="all_button" ng-click="fullRack()">Show All (May be slow)</button>
  </form>

  <!-- Results from filtering -->
  <table>
    <p ng-if="emptyResults"> No results. Check your selections!</p>
    <tr ng-if="!emptyResults">
        <th>Swatch</th>
        <th>Name</th>
        <th>Brand</th>
    </tr>
    <tr ng-if="!emptyResults" ng-repeat="polish in fil_polishes" ng-click="openPolish(polish)">
        <td><img class="thumbnail" ng-src="{{polish.Swatch.src}}"/></td>
        <td>{{polish.title}}</td>
        <td>{{polish.Brand}}</td>
    </tr>
  </table>
  </ion-content>
</ion-view>