<ion-view title="My Rack" id="myrack" class="page">
  <ion-content padding="true" class="has-header">
    <div>
        <button class="button all_button" ng-click="shareRack()">Share Your Rack</button>
        <br/><br/>
      <p>Not sure what color to paint your nails? </p>
      <button ng-click="spinWheel()" class="button custom_button">Try Your Luck!</button>
      <input type="textarea" class="randomBox" ng-value="randomPolish" disabled> <div class="clearfix"></div>
      <p style="margin-top: 8px">Don't want a specific polish name?</p><button class="button custom_button" ng-click="randomColor()">Give Me A Color!</button>
      <div id="random-color" ng-style="{'background-color': bgColor}"></div>
    </div>
    <div class="clearfix"></div> <br/>
    <div>
      <input type="textarea" placeholder="Polish Name" class="searchBox" ng-model="rquery"><button class="button search_button" ng-click="searchRack(rquery)">Search Rack</button>
  </div>
  <div class="clearfix"></div>
  <p>You have {{numBrands}} different brands, and {{rackPolishes}} total polishes.</p>
  <p ng-if="currentBrand && byBrand">You have {{brandPolishes}} of {{sel_brand}}</p>
    <form name="form.myRack">
    <p>Filter options:</p>
    <select class="dropdown" ng-model="data.selectedBrand">
      <option value="">Brand</option>
      <option ng-repeat="b in mbrands | orderBy:'toString()'" value="{{b}}">{{b}}</option>
    </select>
   <!-- <select class="dropdown" ng-model="data.selectedCollection">
      <option value="">Collection</option>
      <option ng-repeat="cln in mcollections | orderBy:'toString()' "  value="{{cln}}">{{cln}}</option>
    </select>-->
    <button class="button left_button" ng-click="filterRack(data)">Go</button>
    <button class="button right_button" ng-click="reset_form()">Reset Selection</button>
    <button class="button all_button" ng-click="fullRack()">Show All (May be slow)</button>
  </form>

  <!-- Results from filtering -->
  <table>
    <p ng-if="emptyResults"> No results. Check your selections!</p>
    <tr ng-if="!emptyResults">
        <th class="checkCell" ng-if="editMode">In Rack</th>
        <th class="checkCell" ng-if="editMode">In Wish List</th>
        <th class="swatchCol">Swatch</th>
        <th>Name</th>
        <th>Brand</th>
    </tr>
    <tr ng-if="!emptyResults" ng-repeat="polish in fil_polishes track by $index" ng-click="openPolish(polish)">
        <td class="checkCell" ng-if="editMode">checkbox</td>
        <td class="checkCell" ng-if="editMode">checkbox</td>
        <td class="swatchCol"><img class="thumbnail" ng-src="{{polish.Swatch}}"/></td>
        <td>{{polish.title}}</td>
        <td>{{polish.Brand}}</td>
    </tr>
  </table>
  <button ng-if="!emptyResults" class="button all_button" ng-click="scrollUp()">Return To Top</button>
  </ion-content>
</ion-view>