<ion-view title="Profile" id="profile" class="page">
  <ion-content padding="true" class="has-header">
    <p> Avatar </p>
    <p> Name </p>
    <p> Bio </p>
      <p>TODO: Ability to have public/private profile; button to friend's rack / wish list that says "check out $name's rack / wish list"</p>
    <p>TODO: Hide button for own profile</p>
    <button id="viewRack" style="display:block;" class="button button-dark" disabled>Check Out $user's Rack</button>
    <button style="text-align:left;" class="button button-dark" disabled>Follow</button>
    <button class="button button-dark" disabled>Unfollow</button>
  </ion-content>
</ion-view>