<ion-view title="Profile" id="profile" style="background-color:#4DB3D3;">
  <ion-content padding="true" class="has-header">
    <div id="profile-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Profile Picture</p>
    </div>
    <div id="profile-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#000000;">FirstName LastName (centered)</p>
    </div>
    <div id="profile-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Biography</p>
    </div>
    <div id="profile-markdown4" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Ability to public/private profile; button to friend's wish list that says "check out $name's rack"</p>
    </div>
    <button id="profile-button6" style="text-align:left;" class="button button-dark">Follow</button>
    <button id="profile-button7" class="button button-dark">Unfollow</button>
  </ion-content>
</ion-view>