<ion-view title="Scanner Popup" id="page9" style="background-color:#4DB3D3;">
  <ion-content padding="true" class="has-header">
    <div id="scannerPopup-markdown7" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Popup that asks whether polish is to be added to wish list or owned list, with a checkbox to add to database</p>
    </div>
    <div id="scannerPopup-markdown8" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Need two pages - one to add to wish list, one to add to rack; as well as a template for uploading polish that includes picture of polish, comment about it</p>
    </div>
  </ion-content>
</ion-view>