<ion-view title="Signup" id="signup" class="page">
  <ion-content padding="true" class="has-header">
    <form id="signup-form3" class="list">
      <ion-list id="signup-list2">
        <label class="item item-input" id="signup-input3">
          <input type="text" placeholder="Username" ng-model="data.username">
        </label>
        <label class="item item-input" id="signup-input4">
          <input type="email" placeholder="Email" ng-model="email">
        </label>
        <label class="item item-input" id="signup-input5">
          <input type="text" placeholder="Password" ng-model="password">
        </label>
      </ion-list>
      <button id="signup-button10" class="button button-dark button-block" ng-click="register(data)">Sign up</button>
    </form>
    <div>
      <p> Thank you for registering! To proceed, please follow the directions in your email!</p>
    </div>
  </ion-content>
</ion-view>