<ion-view id="tabs">
  <ion-tabs class="tabs-dark tabs-icon-top" id="tabsController-tabs1">
    <ion-tab title="Home" icon="ion-android-home" ui-sref="#/tabs/home" id="tabsController-home">
      <ion-nav-view name="homeTab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Profile" icon="ion-android-person" href="#/tabs/profile" id="tabsController-profile">
      <ion-nav-view name="profileTab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Friends" icon="ion-heart" href="#/tabs/friends" id="tabsController-friends">
      <ion-nav-view name="friendsTab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Chat" icon="ion-android-chat" href="#/tabs/chat" id="tabsController-chat">
      <ion-nav-view name="chatTab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="About" icon="ion-ios-help-outline" href="#/tabs/about" id="tabsController-about">
      <ion-nav-view name="aboutTab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Logout" icon="ion-power" on-select="logout()" id="tabsController-logout" ng-controller="logoutCtrl"></ion-tab>
  </ion-tabs>
</ion-view>