<ion-view title="Wish List" id="wishList" class="page">
  <ion-content padding="true" class="has-header">
    <button class="button all_button" style="margin-bottom:10px;" ng-click="shareWish()">Share Your Wish List</button>
   <div>
      <input type="textarea" placeholder="Polish Name" class="searchBox" ng-model="wquery"><button class="button search_button" ng-click="searchWish(wquery)">Search Wish List</button>
  </div>
<div class="clearfix"></div>
  <form name="form.wishList">
    <p>Filter options:</p>
    <select class="dropdown" ng-model="data.selectedBrand">
      <option value="">Brand</option>
      <option ng-repeat="b in wbrands | orderBy:'toString()'" value="{{b}}">{{b}}</option>
    </select>
    <select class="dropdown" ng-model="data.selectedCollection">
      <option value="">Collection</option>
      <option ng-repeat="cln in wcollections | orderBy:'toString()' "  value="{{cln}}">{{cln}}</option>
    </select>
    <button class="button left_button" ng-click="filterWish(data)">Go</button>
    <button class="button right_button" ng-click="reset_form()">Reset Selection</button>
    <button class="button all_button" ng-click="fullWish()">Show All (May be slow)</button>
  </form>

  <!-- Results from filtering -->
  <table>
    <p ng-if="emptyResults"> No results. Check your selections!</p>
    <tr ng-if="!emptyResults">
        <th>Swatch</th>
        <th>Name</th>
        <th>Brand</th>
    </tr>
    <tr ng-if="!emptyResults" ng-repeat="polish in fil_wish_polishes" ng-click="openPolish(polish)">
        <td><img class="thumbnail" ng-src="{{polish.Swatch.src}}"/></td>
        <td>{{polish.title}}</td>
        <td>{{polish.Brand}}</td>
    </tr>
  </table>
  <button ng-if="!emptyResults" class="button all_button" ng-click="scrollUp()">Return To Top</button>
  </ion-content>
</ion-view>