<ion-view title="Wish List" id="wishList" controller="wishListCtrl" ng-init="initWishList()" class="page">
  <ion-content padding="true" class="has-header">
    <button id="wishList-button5" class="button button-dark button-block" disabled="true">Share This List</button>
    <div>
      <input type="textarea" placeholder="Color" class="inputBox"><button>Search</button>
  </div>
    <p>Filter options:</p>
    <select ng-model="filteredBrand">
      <option value="">Brand</option>
      <option ng-repeat="b in wbrands | orderBy:'toString()'" ng-model="data.selectedBrand" value="{{b}}">{{b}}</option>
    </select>
    <select ng-model="filteredColor">
      <option value="">Color</option>
      <option ng-repeat="c in wcolors | orderBy:'toString()' " ng-model="data.selectedColor" value="{{c}}">{{c}}</option>
    </select>
    <select ng-model="filteredCollection">
      <option value="">Collection</option>
      <option ng-repeat="cln in wcollections | orderBy:'toString()' " ng-model="data.selectedCollection" value="{{cln}}">{{cln}}</option>
    </select>
    <button ng-click="filter(data)">Go</button>
    <button class="button-block" ng-click="showAll()">Show All (May be slow)</button>
    <div class="results">
    <p>Placeholder for results of filtering</p>
    </div>
  </ion-content>
</ion-view>