ion-spinner {
	position: relative;
  width: 50%;
	left:50%;
	top:50%;
}

.page {
	background-color: #00cccc;
}

.addPolishContainer div {
	width: 600px;
	padding: 10px;
	clear: both;
}

.pPreview {
	width: 256px;
	height: 256px;
}

/* Random color generator box */
#random-color {
	width: 30%;
	height: 30px;
	border-style: ridge;
	border-width: 2px;
	background-color: gray;
	border-radius: 10px;
	float: left;
}

/* ================= Add Polish Form ================= */

.toggleCheck {
	margin-top: -8px;
	margin-left: -9px;
}

.toggleCheck input {
	margin-right: 5px;
}

#wishCheck {
	margin-left: 10px;
}

#fileUpload {
  display: inline-block;
}

#fileUpload span {
	display: block;
	cursor: pointer;
	position: relative;
	width: 130px;
  background-color: #444;
  margin: 0;
  margin-bottom: 5px;
  padding: 0 12px;
  min-width: 52px;
  min-height: 24px;
  border-width: 1px;
  border-style: transparent;
  border-radius: 4px;
  vertical-align: top;
  text-align: center;
  text-overflow: ellipsis;
  color: #fff;
  font-size: 16px;
  line-height: 34px;
}

.#fileUpload span .active,
.#fileUpload span .activated {
  border-color: #a2a2a2;
  background-color: #262626;
}

#fileUpload input[type=file] {
  display:none;
}

/* ================= Inputs ================= */

.addPolishContainer .inputBox {
	width: 100%;
	clear: both;
}

.dropdown {
	width: 100%;
	margin-top: 5px;
	height: 30px;
}

.randomBox {
	width:40%;
}

.numberBox {
	padding: 0 5px 0 5px;
	margin: 3px;
	width: 50px;
}

.searchBox {
	width: 40%;
	margin-right: 10px;
}

/* ================= Buttons ================= */

.all_button {
	width:100%;
	height: 30px;
	border-color: transparent;
  background-color: #444;
  color: #fff;
}

.custom_button {
	border-color: transparent;
  background-color: #444	;
  color: #fff;
  float: left;
  height: 30px;
  margin-right: 10px;
}

.left_button {
	width: 49.8%;
	float:left;
	margin-bottom:10px;
	margin-top: 10px;
	height: 30px;
	border-color: transparent;
  background-color: #444;
  color: #fff;
}

.right_button {
	width:49.8%;
	float:right;
	margin-bottom:10px;
	height: 30px;
	margin-top: 10px;
	border-color: transparent;
  background-color: #444;
  color: #fff;
}

/* ================= Text ================= */
.version-number {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 11px;
}

.noResult {
	text-align: center;
	margin-top: 10px;
}

a {
	color: #81001f
}

a:visited {
	color:#81001f;
}

/* ================= Results Table ================= */

table {
	margin-top: 10px;
	overflow: hidden;
	width: 100%;
	border-radius: 15px;
	background-color: #E3E5E8;
}

th {
	border-bottom: 1px solid black;
	height: 40px;
	vertical-align: middle;
}

td {
	word-break:break-word;
	text-align: center;
	vertical-align: middle;
	border-bottom: 1px dotted black;
	width: 40%;
}

tr {
	height: 100px;
}

table tr.headRow {
	height: 60px;
}

table tr td.swatchCol {
	width: 20%;
}

.thumbnail{
  padding: 10px;
  height: 128px;
  width: 128px;
}