@font-face {
	font-family: 'Indie Flower';
	src: url('fonts/IndieFlower.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Set default fonts */
body, h1, h2, h3, 
button, input, textarea, table, select,
.popup-sub-title  {
	font-family: 'Indie Flower';
}

ion-spinner {
	position: relative;
  width: 50%;
	left:50%;
	top:50%;
}

.page {
	background-color: #b5f8e6;
}

.addPolishContainer div {
	width: 600px;
	padding: 10px;
	clear: both;
}

.pPreview {
	width: 256px;
	height: 256px;
}

.friendsList {
	font-size: 1.6em;
}

/* Random color generator box */
#random-color {
	width: 50%;
	height: 30px;
	border-style: ridge;
	border-width: 2px;
	background-color: gray;
	border-radius: 10px;
	float: left;
}

/* ================= Add Polish Form ================= */

.toggleCheck {
	margin-top: -8px;
	margin-left: -9px;
}

.toggleCheck input {
	margin-right: 5px;
}

#wishCheck {
	margin-left: 10px;
}

#fileUpload {
  display: inline-block;
}

#fileUpload span {
	display: block;
	cursor: pointer;
	position: relative;
	width: 160px;
	background-color: #636363;
	border-color: #63768D;
	margin: 0;
	margin-bottom: 5px;
	padding: 0 12px;
	min-width: 52px;
	min-height: 24px;
	border-width: 1px;
	border-style: transparent;
	border-radius: 4px;
	vertical-align: top;
	text-align: center;
	text-overflow: ellipsis;
	font-size: 16px;
	line-height: 34px;
}

#fileUpload span .active,
#fileUpload span .activated {
	border-color: #63768D;
  	background-color: #636363;
}

#fileUpload input[type=file] {
  display:none;
}

/* ================= Inputs ================= */

.addPolishContainer .inputBox {
	width: 100%;
	clear: both;
	height:1.9em;
}

.dropdown {
	width: 100%;
	margin-top: 5px;
	height: 30px;
	background-color: #636363;
	border-color: #63768D;
	color: white;
}

.randomBox:disabled {
	width:55%;
	height:1.9em;
	background-color: #636363;
	border-color: #63768D;
	color: white;
}

.numberBox {
	padding: 0 5px 0 5px;
	margin: 3px;
	width: 50px;
}

.searchBox {
	width: 48%;
	margin-right: 10px;
	height: 1.9em;
	float: left;
	background-color: #636363;
	border-color: #63768D;
	color: white;
}

::placeholder {
	color: white;
}

.userBox:disabled {
	background-color:#b5f8e6;
}

.user_bio {
	width: 100%;
	border-style: ridge;
	border-width: 2px;
	border-radius: 5px;
	padding: 5px;
	height:100px;
}

.user_bio:disabled{
	width: 100%;
	background-color:#b5f8e6;
	border-style: ridge;
	border-width: 2px;
	border-radius: 5px;
	padding: 5px;
	height:100px;
}

/* ================= Buttons ================= */

.all_button {
	width:100%;
	height: 30px;
	border-radius: 10px;
}

.button, .popup-buttons .button, .popup-buttons .row{
	font-weight: bold;
	border-radius: 10px;
	color: white;
	background-color: #636363;
	border-color: #63768D;
}

.search_button {
	float:left;
	margin-bottom:10px;
	height: 30px;
	border-radius: 10px;
}

.bulk_button {
	float: left;
	height: 30px;
	margin-right: 10px;
	margin-top: 10px;
	border-radius: 10px;
}

.custom_button {
  float: left;
  height: 30px;
  margin-right: 10px;
  border-radius: 10px;
}

.left_button {
	width: 49.8%;
	float:left;
	margin-bottom:10px;
	margin-top: 10px;
	height: 30px;
  	border-radius: 10px;
}

.profile_button{
	margin-top: -2px!important;
	margin-bottom: 5px!important;
}

.right_button {
	width:49.8%;
	float:right;
	margin-bottom:10px;
	height: 30px;
	margin-top: 10px;
	border-radius: 10px;
}

/* ================= Text ================= */
.version-number {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 11px;
}

.noResult {
	text-align: center;
	margin-top: 10px;
}

.forgot_password {
	margin-top: -10px;
	margin-bottom: 10px;
	float:right;
}

a {
	color: #81001f
}

a:visited {
	color:#81001f;
}

/* ================= Results Table ================= */

table {
	margin-top: 10px;
	overflow: hidden;
	width: 100%;
	border-radius: 15px;
	border: 1px solid black;
	background-color: #E3E5E8;
	margin-bottom: 10px;
}

th {
	border-bottom: 1px solid black;
	height: 40px;
	vertical-align: middle;
	font-weight: bold;
	font-size: 1.2em;
}

td {
	word-break:break-word;
	text-align: center;
	vertical-align: middle;
	border-bottom: 1px solid black;
	width: 40%;
}

tbody tr:nth-child(odd) {
	background-color: #a2a4a4a4;
 }

 tbody tr:nth-child(even) {
	background-color: #d3d5d4;
 }

tr {
	height: 100px;
}

table tr.headRow {
	height: 60px;
}

table tr td.swatchCol {
	width: 20%;
}

.checkCell {
	width: 5%;
	padding-left: 10px;
}

.thumbnail{
  padding: 10px;
  height: 128px;
  width: 128px;
}